html {
  font-family: "Apple SD Gothic Neo", "NanumBarunGothic", "Malgun Gothic", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding-top: 60px;
}

input[type=text], button {
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo", "NanumBarunGothic", "Malgun Gothic", sans-serif;
}
input[type=text] {
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px rgba(192, 192, 192, 0.5) solid;
  background-color: #ffffff;
  box-shadow: 0.5pt 0.5pt 2pt 0.5pt rgba(0, 0, 0, 0.2) inset;
}
button {
  font-size: 16px;
  border: none;
  background-color: #e8e8e8;
  box-shadow: 0.75pt 0.75pt 3pt 0.75pt rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
}
button:active {
  transform: translate(0, 1.5pt);
  box-shadow: 0 0 3pt rgba(0, 0, 0, 0.2);
}


.page-padding {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 60px;
}


#header-div {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 10px 60px;
  height: 60px;
  border-bottom: 1px rgba(224, 224, 224, 0.5) solid;
  background-color: rgba(248, 248, 248, 0.85);
}
.header {
  height: 40px;
  line-height: 40px;
}
.header > ul {
  margin: 0;
  padding: 0;
}
.header > ul > li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.header input[type=text] {
  width: 380px;
  height: 40px;
}
.title {
  position: fixed;
  top: 10px;
  left: 60px;
  font-size: 20px;
}
.center {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#invert-direction-button {
  display: none;
  height: 40px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 12px;
}
#search-button {
  width: 60px;
  height: 40px;
  font-size: 20px;
}


#result-contents-div {
  line-height: 1.6;
}


#result-section {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 30px 30px 30px 60px;
  width: 360px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
#result-background-div {
  display: none;
}
#result-close-div {
  display: none;
}
#result-section p {
  margin: 0 0 1em;
}
#result-found-div {
  display: none;
}
#result-div dl {
  margin: 0;
  padding: 0.5em;
  border-top: 1px solid darkgray;
  cursor: pointer;
}
#result-div dl:hover {
  background-color: aliceblue;
}
#result-div dt {
  font-weight: bold;
}
#result-div dd {
  margin: 0;
  max-height: 4.8em;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
#result-found-div > :first-child {
  margin-top: 0;
}


#definition-section {
  z-index: 1;
  padding-top: 30px;
}
#definition-section div {
  margin: 0 0 1.5em;
  padding: 1em;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#definition-section div > p {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
}
#definition-section div li {
  display: inline-block;
  margin: 0 10px;
}
#definition-section div button {
  width: 180px;
  height: 80px;
  font-size: 24px;
}
#definition-section dl {
  margin: 0 0 1.5em;
  padding: 1em;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
#definition-section dt {
  font-size: 18px;
  font-weight: bold;
}
#definition-section dd {
  margin: 0;
}
#definition-section p {
  margin: 0.5em 0 0;
}
#definition-section p.level0 {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid lightgray;
  font-size: 18px;
  font-weight: bold;
}
#definition-section p.level1 {
  margin-top: 0.75em;
  font-size: 16px;
  font-weight: bold;
}
#definition-section p.level2 {
}
#definition-section > dl > dd > p:first-of-type {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid lightgray;
}
#definition-section ul {
  margin: 0;
  font-size: 14px;
}
#direction-select-div ul {
  padding: 0;
}


@media (max-width: 1375px) {
  .center {
    max-width: 600px;
    margin-left: 320px;
  }
}


@media (max-width: 900px) {
  .page-padding {
    padding: 0 1.5em;
  }

  #header-div {
    top: 0;
    left: 0;
    padding: 10px 1.5em;
    height: 60px;
  }
  .header input[type=text] {
    width: calc(100vw - 3em - 70px);
    max-width: 530px;
    height: 40px;
  }
  .title {
    position: fixed;
    top: auto;
    left: auto;
    bottom: 1.5em;
    right: 1.5em;
  }
  .center {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #result-section {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: auto;
    margin: 0 auto;
    padding: 1.5em;
    padding-bottom: 5em;
    width: auto;
    max-width: calc(600px + 3em);
    min-height: calc(100vh - 60px);
    background: none;
    overflow-x: hidden;
    overflow-y: inherit;
  }
  #result-background-div {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
  }
  #result-close-div {
    display: inline-block;
    position: fixed;
    top: calc(60px + 1em);
    right: 1.5em;
  }
  #result-close-button {
    width: 3em;
    height: 2.5em;
  }
  #result-section p {
    margin-right: 3.5em;
  }
  #result-div dd {
    max-height: 3.2em;
  }
  
  #definition-section {
    padding-bottom: 3em;
  }
  #definition-section div button {
    width: calc(100vw - 4.5em);
    max-width: calc(600px - 2.5em);
    margin: 0.5em 0;
  }
}


@media (max-width: 460px) {
  #result-div dd {
    max-height: 4.8em;
  }
}
